.valley {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  align-self: center;
  animation: valley 5s 3s;
}

body {
  font-family: "Roboto Serif", sans-serif;
  background-color: lightyellow;
  margin-top: 40px;
  margin-left: 30px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  width: 100%;
}

h1 {
  color: black;
  text-align: center;
}
h2 {
  color: lightseagreen;
  text-align: center;
  animation-name: infotext;
  animation-delay: 9s;
}
h3 {
  color: lightblue;
  text-align: center;
}
button {
  width: 120px;
  height: 60px;
  position: relative;
  left: 250px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto Serif", sans-serif;
  cursor: pointer;
}

.button:hover {
  background-color: #e5ea3c;
  transform: scale(1.5);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

@keyframes valley {
  from {
    transform: scale(1);
    rotate: (0deg);
  }
  to {
    transform: scale(1.5);
    rotate: (360deg);
  }
}
